@import "./reset.css";
:root {
  font-size: 1rem;
}
body {
  margin: 0;
  min-height: 100vh;
}

header {
  background-color: black;
  color: white;
}

footer {
  background-color: lightgray;
  color: black;
}

section {
  font-size: 2rem;
}
