@import "./reset.css";
/* @import "./fonts.css"; */

:root {
  font-size: 1rem;
}

main {
  margin: 0;
  min-height: 80vh;
}

header {
  background-color: black;
  color: white;
}

footer {
  background-color: lightgray;
  color: black;
}
